#heading{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#progress-box{
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#progress-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.progress-btn{
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: royalblue;
    margin-top: 15px;
    color: white;
    font-weight: 600;
}