.patient-dashboard {
  width: 100vw;
  min-height: 100vh;
  background: #fdfeff;
  display: flex;
  flex-direction: column;
}

.dashboard-container {
  width: 100%;
  max-width:100%;
  margin: 0 auto;
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  
}

.dashboard-heading {
  font-size: 2.2rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 2rem;
  text-align: center;
}

.top-section {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.chart-box {
  width: 100%;
  max-width: 500px;   /* Reduce chart width */
  height: 400px;       /* Reduce chart height */
  margin: 0 150px;
  
}


.avg-time{
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 20px;

}

.circle-progress {
  width: 120px;
  height: 120px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  text-align: center;
}

.value {
  font-size: 1.6rem;
  color: #007bff;
  font-weight: bold;
}

.label {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: #555;
}

.home-btn {
  background-color: #007bff;
  color: white;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 2rem;
  transition: background 0.3s ease;
}

.home-btn:hover {
  background-color: #0056b3;
}

.loading,
.error {
  font-size: 1.1rem;
  color: #444;
}

.avg-description {
  font-size: 1rem;
  color: #333;
  margin-top: 10px;
  max-width: 500px;
}
