.topbar {
  width: 100%;
  background-color: rgba(0, 173, 193, 0.981); /* Dark gray */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  position: fixed;
  z-index: 1000;
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.initials-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  color: rgb(3, 3, 3);
}

.user-info {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.username {
  font-size: 14px;
  font-weight: 600;
}

.user-role {
  font-size: 11px;
  color: #f2f5f8; /* Light gray */
}

.topbar-right {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.topbar-btn {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.topbar-btn:hover {
  color: #104b48; /* Teal highlight */
}

.icon {
  font-size: 16px;
}
body.dark-mode {
  background-color: #121212;
  color: white;
}

.settings-popup {
  position: absolute;
  top: 60px;
  right: 100px;
  background: white;
  color: black;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 100;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

body.dark-mode .settings-popup {
  background: #333;
  color: white;
  border-color: #555;
}
